# Bảo vệ file .htaccess
<files .htaccess="">
order allow,deny
deny from all
</files>

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#TrangChu
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ /index.php [L]

RewriteRule ^home$ /index.php [L]
RewriteRule ^api/login$ app/@momo/login.php  [L]
RewriteRule ^admin/momo/add$ /ADMIN/@momo.php [L]
RewriteRule ^admin/service/website$ /ADMIN/website.php [L]
RewriteRule ^admin/service/msg$ /ADMIN/msg.php [L]
RewriteRule ^admin/mini-game/chan-le$ /ADMIN/chan-le.php [L]
RewriteRule ^admin/mini-game/tai-xiu$ /ADMIN/tai-xiu.php [L]
RewriteRule ^admin/mini-game/chan-le2$ /ADMIN/chan-le2.php [L]
RewriteRule ^admin/mini-game/tai-xiu2$ /ADMIN/tai-xiu2.php [L]
RewriteRule ^admin/mini-game/1-phan-3$ /ADMIN/1-phan-3.php [L]
RewriteRule ^admin/mini-game/H3$ /ADMIN/H3.php [L]
RewriteRule ^admin/mini-game/doan-so$ /ADMIN/doan-so.php [L]
RewriteRule ^admin/mini-game/xien$ /ADMIN/xien.php [L]
RewriteRule ^admin/mini-game/lo$ /ADMIN/lo.php [L]
RewriteRule ^admin/mini-game/g3$ /ADMIN/g3.php [L]
RewriteRule ^admin/mini-game/diem-danh$ /ADMIN/diem-danh.php [L]
RewriteRule ^admin/mini-game/nhiem-vu-ngay$ /ADMIN/nhiem-vu-ngay.php [L]
RewriteRule ^admin/mini-game/tong-3-so$ /ADMIN/tong-3-so.php [L]
RewriteRule ^admin/mini-game/top-tuan$ /ADMIN/top-tuan.php [L]
RewriteRule ^admin/service/giftcode$ /ADMIN/giftcode.php [L]
RewriteRule ^admin/momo/list$ /ADMIN/list-momo.php [L]
RewriteRule ^admin/setting/action$ app/backend.php [L]
RewriteRule ^admin/mini-game/update$ app/backend.php [L]
RewriteRule ^admin$ ADMIN/index.php [L]
RewriteRule ^admin/login/action$ app/backend.php [L]
RewriteRule ^admin/login$ ADMIN/login.php [L]
RewriteRule ^admin/dang-xuat$ app/out_log.php [L]
RewriteRule ^admin/momo/history-transaction$ /ADMIN/history-transaction.php [L]
RewriteRule ^admin/mini-game/update$ app/backend.php [L]
RewriteRule ^admin/momo/send-money$ /ADMIN/send-money.php [L]
RewriteRule ^api/giaodien/check$ app/check.php [L]
RewriteRule ^admin/service/history$ /ADMIN/history.php [L]
RewriteRule ^admin/service/check-bill$ /ADMIN/check-bill.php [L]
RewriteRule ^admin/service/payment$ /ADMIN/payment.php [L]
RewriteRule ^admin/service/doi-mat-khau$ /ADMIN/doi-mat-khau.php [L]
RewriteRule ^api/e/chuyentien$ app/@momo/send.php [L]
RewriteRule ^admin/service/sdt-game$ /ADMIN/sdt-game.php [L]
RewriteRule ^admin/service/bill-error$ /ADMIN/bill-error.php [L]
RewriteRule ^admin/home$ /ADMIN/index.php [L]

RewriteRule ^admin/service/cron$ /ADMIN/cron.php [L]
RewriteRule ^admin/bill-loi$ app/@momo/error_.php [L]

RewriteRule ^api/giftcode$ app/@momo/giftcode.php [L]

RewriteRule ^api/nhiemvungay$ app/@momo/nvn.php [L]
RewriteRule ^api/diemdanh$ app/@momo/diemdanh.php [L]

RewriteRule ^private/auto/tra-thuong$ app/@momo/api.php [L]
RewriteRule ^private/auto/login$ app/@momo/load-token.php [L]
RewriteRule ^private/auto/diem-danh$ app/@momo/cron_diemdanh.php [L]


ErrorDocument 404 /404.php



#BLOCKBOT
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} uuuu7u^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]
